::-webkit-scrollbar
  width: 4px
  background-color: rgba($black, 0)

::-webkit-scrollbar-thumb
  background-color: rgba($black, .4)
  border-radius: $border-radius-base

#zhuan
  margin: $grid-gutter-width

  pre.line-numbers
    padding-left: 3.8em
    
  .line-numbers-rows
    border-color: $pre-border-color
